<section class="bg-gray-800/40 text-white py-20 px-4 md:px-8 font-sans">
  <div class="container mx-auto">

    <!-- Section Title (with scroll animation) -->
    <h2 class="text-4xl font-bold mb-12">
      Technical Skills
    </h2>

    <!-- Skills Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-8">

      <!-- Card 1: Frontend Development -->
      <app-skill-card skill="Frontend Development"
        tools="React, Angular, SvelteKit, TypeScript, Tailwind, HTML, CSS ...">
        <i class="pi pi-code !text-5xl text-purple-700"></i>
      </app-skill-card>


      <!-- Card 2: Backend Development -->
      <app-skill-card skill="Backend Development" tools="Spring Boot, Node.js,RESTful API ,JWT ...">
        <i class="pi pi-server !text-5xl text-purple-700"></i>
      </app-skill-card>


      <!-- Card 3: Database -->
      <app-skill-card skill="Database" tools="PostgreSQL, MySQL, MongoDB, FireBase, Supabase ...">
        <i class="pi pi-database !text-5xl text-purple-700"></i>
      </app-skill-card>


      <!-- Card 4: DevOps -->
      <app-skill-card skill="DevOps" tools="Docker, CI/CD, Oracle CLoud, Vercel ...">
        <i class="pi pi-box !text-5xl text-purple-700"></i>
      </app-skill-card>


      <!-- Card 5: Programming Languages -->
      <app-skill-card skill="Programming Languages"
        tools="Java, Python, C, C++, PHP, HTML, CSS, JavaScript, TypeScript ..." >
        <i class="pi pi-language !text-5xl text-purple-700"></i>
      </app-skill-card>


      <!-- Card 6: Real-time Systems -->
      <app-skill-card skill="Real-time Systems"
        tools="WebSocket, Socket.io, Real-time Da...">
        <i class="pi pi-bolt !text-5xl text-purple-700"></i>
      </app-skill-card>
  


    </div>
  </div>
</section>